@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    --fonte-primaria: "Poppins", sans-serif;
    --fonte-secundaria: "Winky Sans", sans-serif;
    --rich-black: #0d1b2aff;
    --oxford-blue: #1b263bff;
    --yinmn-blue: #415a77ff;
    --silver-lake-blue: #778da9ff;
    --platinum: #e0e1ddff;

}

body{
    background-color: var();
    color: var();
    font-family: "", ;
    font-weight: 400;
    font-style: normal;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span{
    color: var();
}

.botao{
    font-family: "",;
    font-weight: 400;
    font-style: normal;
    background-color: var();
    color: var();
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 4px solid var(--botao-ativo);
    border-right: 4px solid var(--botao-ativo);
    border-top: none;
}